@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
​
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #cf7e7e;
    color: #9C5F5F;
    line-height: 18px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: white;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.5%; /* 18px / 800px */
    width: 85%;
    align-content: space-around;
    flex-wrap: wrap;

}

/* .menu-card {
    
    text-align: center;
    color: #9C5F5F;
    border-color: #663939;
    border-style: double;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    margin: auto;
} */

ul#menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(112, 50, 50);
    height: 100%;
}

.menu-nav {
    border: 5px solid rgb(112, 50, 50);
    background-color: white;
    height: 10vh;
}

.menu-name {
    font-size: 20px;
    border: 1px solid rgb(92, 19, 19);
    border-radius: 5px;
    background-color: rgb(255, 219, 219);
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

.item-card {
    width: 300px;
    color: #9C5F5F;
    border: 2px solid #663939;
    border-radius: 10px;
    padding: 25px;
    margin: 10px auto 5px auto;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;

}

div.item-image {
    width: 250px;
}

/* .item-image img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #663939;
} */

.name-and-price {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.item-description {
    padding-top: 15px;
}

#create-menu-item-form {
    display: none;
    
}
